all:
  doctrine:
    class: sfDoctrineDatabase
    param:
      dsn: 'mysql:dbname=db_name;host=localhost'
      profiler: false
      username: db_username
      password: db_password
      attributes:
        quote_identifier: true
