* {
	margin: 0;
	padding: 0;
}

html {
  height: 100%;
  margin-left: -1px;
	overflow-Y: scroll;
}

ul {margin: 10px 0; padding-left: 2.5em;}
ol {margin: 10px 0; padding-left: 2.5em;}

blockquote {margin: 10px 0; padding-left: 2.5em; background-color: #f1f1f1;}


table, td {
	border-collapse: collapse;
	border: 0;
}
body {
  min-height:100%;
  height: 100%;
 	margin: 0;
	font-size: 13px;
	font-family:  Arial, Sans-Serif;
	color: #000;
}

a img {
	border: none;
}

#page {
  width: 100%;
  margin: auto;
  height: auto !important;
  min-height:100%;
  height: 100%;
	text-align: center;
}

.patch_minheight {
	width: 1px;
	height: 15px;
	float: right;
}

#footer_guarantor {
 height: 139px;
 clear: both;
}

#header-wrap {
  width: 100%;
  height: 85px;
  background: url(header_bg.png);
}
#header {
  height: 85px;  
}
#logo-section {
  float: left;
	font-size: 22px;
	color:black;
	padding-left: 35px;
	padding-top: 35px;

}
#top-menu {
  float: right;
	color: #fff;
	padding-right: 15px;
  padding-top: 35px;
}

#top-menu a { color: white; text-decoration: none;}

#main-menu {
  width: 100%;
  clear: left;
  height: 25px;
 	text-align: left;
 	/*border: 1px solid red;*/
 	padding-top: 14px; 	
}

#main-menu-empty {
  clear: left;
  width: 100%;
  height: 26px;
 	background-color: white; 	
  margin-left: -1px;;
}


.shadow-top {
  width: 100%;
  height: 5px;
  
  /*border: 1px solid red;*/
}

.shadow-top-bar{
  height: 5px;
  background-color: white;
  border-left: 1px solid #b9b9b9;
  border-right: 1px solid #b9b9b9;
  margin: auto;
}

#center-wrap {
  width: 100%;
}
#center {
  margin: auto;
  background-color: white;  
}
#content {
  text-align: left;
  padding: 5px 15px;
}

#footer-wrap {
  width: 100%;
  height: 139px;
	clear: both;
  margin-top: -139px;
	color: black;
	text-align: center;
	padding: 0;
}
#footer {
  width: 100%;
  height: 134px;
  margin: 0 auto;
  text-align: center;
}


div.footer-text { font-size: 11px; line-height: 1.5; margin: 0 auto; padding-top: 10px;  text-align: center; padding-left: 30px;}
a.footer-text { color: #0D639A; }
a.table-list-link {text-decoration:none}



.shadow-bottom {
  width: 100%;
  height: 5px;  
}


#header { width: 98%; }
#center { width: 98%; }
#footer-bar { width: 98%; }
div.footer-text { width: 98%; }
.shadow-top-bar { width: 98%; }

body { background-color: #fff; }
#header-wrap { background-color: #fff; }
#footer { background-color: #fff; }

a { color: #0D639A; }

h1 {font-size: 18px; font-weight: normal; color: #0D639A;}
h2 {font-size: 14px; font-weight: bold; color: #0D639A; }

.infoBlock { padding: 5px; margin-top: 5px; border: 1px dashed LightGray; }

.error_text{ color: red; margin: 15px 0px;}

.skinButton, input[type=submit] { 
  padding: 1px 7px;
}
table.formTable {margin: 15px 0px;}
table.formTable td { text-align: left; padding: 2px; vertical-align: middle; }

.btn{cursor:pointer;display:inline-block;background-color:#e6e6e6;background-repeat:no-repeat;background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));background-image:-webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);background-image:-moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);background-image:-ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);background-image:-o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);background-image:linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);padding:2px 14px 2px;text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);color:#333;font-size:13px;line-height:normal;border:1px solid #ccc;border-bottom-color:#bbb;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);-webkit-transition:0.1s linear all;-moz-transition:0.1s linear all;-ms-transition:0.1s linear all;-o-transition:0.1s linear all;transition:0.1s linear all;}.btn:hover{background-position:0 -15px;color:#333;text-decoration:none;}
.btn:focus{outline:1px dotted #666;}




